/*start css reset*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #212121;
  font: 400 14px/1 "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}
/*end css reset*/

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?uv9i0v");
  src: url("../fonts/icomoon.eot?uv9i0v#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?uv9i0v") format("truetype"),
    url("../fonts/icomoon.woff?uv9i0v") format("woff"),
    url("../fonts/icomoon.svg?uv9i0v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e947";
}

blockquote {
  font-size: 24px;
  margin: 0;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
input,
textarea {
  width: 100%;
  display: inline-block;
  border-radius: 1px;
  padding: 0 15px;
  border: 1px solid #dfdfdf;
}
input::placeholder {
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.author {
  font-size: 11px;
  color: #888888;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
}
.section {
  margin: 140px 0;
}
.wrapper {
  overflow: hidden;
}
.bgc_section {
  background-color: #111111;
  padding: 140px 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.container_xs {
  max-width: 760px;
  margin: 0 auto;
}
.btn_invers {
  border: none;
  padding: 0 41px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #cfcfcf;
  line-height: 40px;
}
.btn_primary:hover {
  background-color: transparent;
  border-color: #e5e5e5;
  color: #777777;
}
.btn_primary {
  background-color: #323232;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0 20px;
  border: none;
  line-height: 40px;
  letter-spacing: 3px;
  border-radius: 3px;
}
.center {
  text-align: center;
}
.icon_rotate {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  transform: rotate(45deg);
}
.light {
  background-color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.section_title {
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111111;
}
.section_title_inverse {
  color: #bcbcbc;
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.col {
  padding: 5px;
}
/*start header*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}
.header_logo img {
  padding-top: 26px;
  padding-left: 29px;
}
.header_nav ul {
  display: flex;
  padding: 34px 32px 0 0;
  color: #d4d4d4;
}
.header_nav ul li {
  padding-left: 35px;
  font-size: 11px;
}
.header_nav a {
  letter-spacing: 2px;
}
/*end header*/

/*start header_container*/
.header_container {
  height: 100vh;
  color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/bg_image.png);
}
.container_contant {
  padding-top: 20%;
}
.container_contant h1 {
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 100;
  letter-spacing: 35px;
  padding-bottom: 102px;
}
.container_contant span {
  font-size: 19px;
}
.drop {
  position: absolute;
  bottom: 20px;
  left: 47%;
  transform: translateX(50%);
}
.drop img {
  border-radius: 50%;
}
/*end header_container*/

/*start section about*/
.section_about_studio .section_title {
  padding-bottom: 75px;
}
.section_about_studio {
  color: #777777;
}
.col_4 p {
  font-size: 15px;
  line-height: 1.8;
}
.team_image {
  padding-bottom: 110px;
}
.card_image_about_title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  padding-top: 30px;
  letter-spacing: 5px;
}
.card:hover .card_overlay {
  transform: translate(0);
  display: block;
}
.card_image_about_title h4 {
  padding-bottom: 16px;
}
.card_wrap {
  position: relative;
  overflow: hidden;
}
.card_overlay {
  background-color: #131313;
  padding: 40px 40px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 0;
  transform: translate(100%);
  transition: transform 0.3s;
}
.card_overlay_title {
  color: #c0c0c0;
  padding-bottom: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card_overlay_description {
  line-height: 19px;
  font-size: 13px;
  padding-bottom: 43px;
  font-weight: 600;
}
.card_overlay .label {
  color: #e8e8e8;
  text-transform: uppercase;
  font-size: 11px;
  padding: 20px 0 7px 0;
  letter-spacing: 2px;
}
.radting {
  height: 12px;
  background-color: #363636;
}
.radting span {
  height: 100%;
  width: 50%;
  display: inline-block;
  background-color: #cccccc;
}
/*end section about*/

/*start section services*/
.section_services {
  border-top: 2px solid #ececec;
  padding-top: 140px;
}
.section_services .section_title {
  text-align: center;
}
.services {
  padding-top: 122px;
  color: #888888;
}
.services ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 82px;
}
.services h4 {
  padding-top: 37px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 100;
}
/*end section services*/

/*start section invers*/
.bgc_section .container {
  color: #c0c0c0;
}
.section_lats_talk .section_title_inverse {
  padding-bottom: 27px;
}
.bgc_section_contant p {
  line-height: 1.6;
  font-size: 15px;
  padding-bottom: 40px;
}
.invers_image img {
  position: relative;
  top: -180px;
  margin-bottom: -260px;
}
/*end section invers*/

/*start section portfolio*/
.portfolio_tabs {
  padding-top: 87px;
}
.portfolio_text p {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  padding: 85px 75px 0;
  letter-spacing: 1px;
  color: #999999;
}
.portfolio_tabs ul {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #a7a7a7;
  padding-bottom: 50px;
  font-size: 13px;
  font-family: "Dosis", sans-serif;
}
.portfolio_tabs ul li {
  letter-spacing: 4px;
  padding: 0 35px;
}
.portfolio_tabs ul li:hover {
  color: #111111;
}
/*end section portfolio*/

/*start section start project*/
.section_start_project {
  margin-top: -140px;
}
.section_start_project .btn {
  margin-top: 25px;
}
/*end section start project*/

/*start why choose*/
.card_title {
  padding-top: 35px;
  text-align: center;
  color: #505050;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Dosis", sans-serif;
}
.why_choose_us .section_title {
  padding-bottom: 90px;
}
.card_why_choose p {
  font-size: 14px;
  margin: auto;
  color: #9b9b9b;
  text-align: left;
  padding: 35px 20px 85px 20px;
}
/*end why choose*/

/*start what people say*/
.people_say {
  font-size: 18px;
  color: #8d8d8d;
}
.people_say p {
  line-height: 1.7;
  padding-top: 40px;
}
.people_say .author {
  padding-top: 27px;
}
.section-people-say {
  position: relative;
}
.people_say::before {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  left: -4%;
  top: 40%;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.people_say::after {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  right: -4%;
  top: 40%;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.people_say img {
  padding-bottom: 23px;
  margin: 0 auto;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  /* border: 0; */
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 100px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
/*end what people say*/

/*start section news*/
.section_title_box {
  display: flex;
  justify-content: space-between;
}
.all_news a {
  font-size: 11px;
  text-transform: uppercase;
  color: #b4b4b4;
  letter-spacing: 4px;
  font-family: "Dosis", sans-serif;
}
.section_latest_news .section_title {
  padding-bottom: 80px;
  margin-left: -12px;
}
.card_news {
  padding: 12px;
}
.card_news img {
  padding-bottom: 30px;
}
.card_news_title {
  font-size: 15px;
  color: #777777;
  padding-bottom: 17px;
  letter-spacing: 3px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}
.card_news h4 {
  font-size: 11px;
  letter-spacing: 2px;
  color: #b4b4b4;
  font-weight: 100;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.card_news p {
  color: #9b9b9b;
  padding-bottom: 30px;
}
.btn_news {
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  color: #777777;
  letter-spacing: 2px;
  font-weight: 100;
  padding: 10px 15px;
  border-radius: 1px;
  background-color: #e5e5e5;
}
/*end section news*/

/*start enter email*/
.enter_email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 21px;
}
.enter_email input {
  line-height: 40px;
  width: 300px;
  margin-right: 5px;
}
.never-send-span img {
  padding-top: 20px;
}
/*end enter email*/

/*start contact*/
.card_contact {
  display: flex;
  color: #808080;
}
.card_contact_icon {
  margin-right: 15px;
  padding-top: 5px;
}
.contact .container_xs {
  padding-top: 98px;
}
.container_xs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 82px;
}
.card_contact_title {
  font-family: "Dosis", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  padding-bottom: 12px;
  text-transform: uppercase;
}
.first_input input {
  line-height: 36px;
  width: 100%;
  max-width: 370px;
  margin-bottom: 10px;
}
.contact_textarea textarea {
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  max-width: 370px;
  width: 100%;
}
.contact .btn {
  margin-left: 170px;
  margin-top: 10px;
}
.first_input img {
  margin-right: 210px;
  margin-top: 15px;
}
/*end contact*/

/*start map*/
.section_map {
  position: relative;
}
.section_bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.7s, opacity 0.5s;
  opacity: 1;
}
.section_bg.open {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
.section_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}
.section_inner .icon_rotate {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section_map .icon_rotate {
  margin-bottom: 28px;
  margin-left: 60px;
}
.section_map span {
  color: #111;
  transform: rotate(-45deg);
  padding: 10px;
}
/*end map*/

/*start footer*/
.social {
  margin-bottom: 0;
}
.social ul {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
  margin-top: 24px;
}
.social ul li {
  padding: 0 6.5px;
}
.footer_bottom {
  padding: 0 0 62px 0;
}
/*end footer*/

@media screen and (max-width: 960px) {
  .header {
    flex-direction: column;
  }
  .container_contant {
    padding-top: 40%;
  }
  .container_contant h1 {
    padding-bottom: 50px;
    letter-spacing: 20px;
  }
}
@media screen and (max-width: 576px) {
  .header_nav ul li {
    padding-left: 15px;
  }
  .section {
    margin: 50px 10px;
  }
  .team_image p {
    font-size: 15px;
  }
  .col {
    padding-bottom: 20px;
    width: 33.3%;
  }
  .services {
    padding-top: 60px;
  }
  .services li {
    padding-bottom: 50px;
  }
  .invers_image img, .card_contact_icon {
    display: none;
  }
  .section_services {
    padding-top: 70px;
  }
  .section_portfolio {
    margin-top: 70px;
  }
  .portfolio_text p {
    padding: 30px;
  }
  .portfolio_tabs {
    padding-top: 30px;
  }
  .portfolio_tabs ul li {
    letter-spacing: 1px;
    padding: 0 0 10px 0;
  }
  .portfolio_tabs ul {
    flex-direction: column;
  }
  .section_start_project {
    margin-top: -50px;
    padding: 30px;
  }
  .why_choose_us .section_title {
    padding-bottom: 50px;
  }
  .card_why_choose p, .card_title {
    padding: 10px 0 0 0;
  }
  .people_say::before {
    content: "";
    width: 50px;
    height: 50px;
    left: -12%;
    top: 50%;
  }
  .people_say::after {
    width: 50px;
    height: 50px;
    right: -12%;
    top: 50%;
  }
  .section_title_inverse {
    letter-spacing: 2px;
    font-size: 20px;
  }
  .bgc_section {
    padding: 70px 0;
  }
  .people_say p {
    font-size: 14px;
    padding: 17px;
  }
  .slick-dots {
    bottom: 0;
  }
  .section_latest_news .section_title {
    padding-bottom: 40px;
    margin-left: 10px;
  }
  .btn_primary {
    margin-top: 20px;
    width: 84%;
  }
  .contact .container_xs {
    padding-top: 20px;
  }
  .card_contact_title {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
  }
  .container_xs ul {
    justify-content: space-around;
    padding-bottom: 40px;
  }
  .services ul, .card_news {
    padding: 0;
  }
  .brandworks {
    margin-left: 80px;
  }
  .designworks {
    margin-left: 160px;
  }
  .photoworks {
    margin-left: 230px;
  }
  .section-people-say {
    margin: 0;
  }
  .card_contact {
    padding-top: 30px;
  }
  .col_sm_6 {
    width: 100%;
    padding-bottom: 10px;
  }
  .contact .btn {
    margin: 30px 0 0 10px;
  }
}